{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "quiz.css" %}">
        {% block title %}
        {% endblock title %}
    </head>
    <body class="quiz_image">
        <div>
            <nav>
                <section style="margin-right: 150px;">
                    <ul id="menu">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">
                            <img src="/static/images/words/quizword.png" alt="quiz_word_link">
                        </a></li>
                        <li><a href="{% url 'logout' %}">
                            <img src="/static/images/words/logoutword.png" alt="logout_word_link">
                        </a></li>
                        <li><a href="https://starwars.fandom.com/wiki/Main_Page">
                            <img src="/static/images/words/wookieword.png" alt="wookie_word_link">
                        </a></li>   
                        {% else %}
                        <li><a href="{% url 'login' %}">
                            <img src="/static/images/words/loginword.png" alt="login_word_link">
                        </a></li>
                        <li><a href="{% url 'signup' %}">
                            <img src="/static/images/words/signupword.png" alt="signup_word_link"> 
                        </a></li>
                        {% endif %}
                    </ul>
                </section>
            </nav>
        </div>    
        {% block content %}
        {% endblock content %}
    </body>
</html>
    
    