{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Add a new question</title>
{% endblock title %}

{% block content %}
<main class="block">
    <div>
        <h2>Make a new question</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="buttonwar"></button> 
        </form>
    </div>
</main>
{% endblock content %}