{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Star Wars Quiz</title>
{% endblock title %}

{% block content %}
<div class="quest_grid">
    <div class="question_column">
        <div>
            <h2>Test Your Knowledge</h2>
        </div>
        <form method='post'>
            {% csrf_token %}
            {% for q  in questions%}
            <div class="form-group">
            <label for="question">{{q.question}}</label>
            </div>
            <div>
                <div class="form-check">
                    <input type="radio" name="{{q.question}}" value="{{q.op1}}">
                    <label>
                        {{q.op1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.op2}}">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.op2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.op3}}">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.op3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.op4}}">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.op4}}
                    </label>
                </div>
                <br>
            </div>    
            {% endfor %}
            <br>
            <button type="submit" class="buttonwar"></button>        
        </form>
    </div>
</div>
<div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
        admin(backdoor)
    </a>
</div>
<div hidden>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_D0ZQPqeJkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    {% if user.is_staff %}
    <a class="saber_pointer" href="{% url 'newquestion' %}">
        <img src="/static/images/words/questionsword.png" alt="questions_word_link">
    </a>
    {% endif %}
</div>
{% endblock content %}