{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "quiz2.css" %}">
       
        <title>Your Results</title>
        
    </head>
    <body class="result_image">
        
        <main class="maingrid">
            <div class="fade"></div>
            <section class="star-wars">
                <div class="crawl">
                    <div class="title">
                      <h2>Your Score is {{ score }}</h2>
                    </div>
                    <p>Percentage: {{ percent }}%</p>
                    <p>Correct: {{ correct }}</p>
                    <p>Wrong: {{ wrong }}</p>
                    <p>Total questions: {{ total }}</p>
                    <div><p>Thanks For Playing!</p></div>
                    <div><p>Use the Wookie Link</p></div>
                    <div><p>on the main page, to</p></div>
                    <div><p>expand your knowledge</p></div>
                    <div><p>of the force!!!</p></div>
                </div>
            </section>
            <div class="retake">
                <a href="{% url 'home' %}"> <img src="/static/images/words/retakeword.png" alt="quiz_word_link"> </a>
                <a href="https://www.youtube.com/watch?v=_O1hM-k3aUY">.</a>
            </div>
        </main>
      </body>
  </html>
                    
                


                   
            
                
            
                    
                    
