{% extends 'base.html' %}
{%block title%}
<title>
Sign-up Page
</title>
{%endblock title%}

{%block content%}
    <main>
        <div>
            <h1>
               Please Signup to Play!
            </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button>Signup</button>
            </form>
        </div>

    </main>
{%endblock content%}