@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

html {
    cursor: url('images/macewindu_face.png'), pointer;
}

img:hover {
    cursor: url('images/saberpointer.png'), pointer;
}

input:hover {
    cursor: url('images/saberpointer.png'), pointer;
}

label:hover {
    cursor: url('images/saberpointer.png'), pointer;
}

.saber_pointer {
    cursor: url('images/saberpointer.png'), pointer;
}

.quiz_image {
    background-image: url("images/hypersaber.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Days One';
    text-transform: uppercase;
    color: #fbff00;
}

.result_image {
    background-image: url("images/resultpageBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}



ul#menu li {
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 28px; 
    margin-left: 10px;
    margin-right: 10px;
    
}
    
ul#menu li a {
    text-decoration: none;
    color: #fbff00;
    font-family: "Helvetica Neue";
    font-size: 35px;
}


nav {
    overflow: auto;
}

.quest_grid{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin-top: 5%;
}

.question_column {
    border: 3px solid yellow;
    grid-column-start: 2;
    background-color: black;
    max-height: 700px;
    overflow-y: auto;
    padding-left: 4%;
    padding-bottom: 4%;
}

.question_column:hover {
    cursor: url('images/saberpointer.png'), pointer;
}

.buttonwar {
    background-image: url(/static/images/words/submitbutton.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 133px;
}

.buttonwar:hover {
    cursor: url('images/saberpointer.png'), pointer;
}