@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


html {
  cursor: url('images/macewindu_face.png'), pointer;
}


.result_image {
    background-image: url("images/stars.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;

}


.maingrid{
    display: grid;
    height: 100%;
    grid-template-rows: 1% 99% 0;

  
}
.retake{
    grid-row-start: 1;
    z-index: 4;
}


body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  

}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
  
  
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 1vh;
  color: #feda4a;
  font-family: 'Days One';
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 50s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
a:link { 
    text-decoration: none; }
a:visited {
    text-decoration: none;
    color: #feda4a; }
a:hover { 
    text-decoration: none;
    cursor: url('images/saberpointer.png'), pointer;  
  }
a:active { 
    text-decoration: none; }







